body {
  font-family: Arial, sans-serif;
  background-color: #b0e2e8;
  color: rgb(153, 211, 139);
}

.App {
  max-width: 400px;
  margin: 100px auto;
  padding: 90px;
  background-color: #345e3b;
  border-radius: 50px;
  text-align: center;
}

.survey button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
}

.selected {
  background-color: #ff6b6b;
  color: white;
}

.welcome-s-button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
   background-color: #1bc6a3;
   border-radius: 10px;
}
.thank-you-screen button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

.thank-you-screen {
  border-radius: 10px;
}

.previous{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
   background-color: #1bc6a3;
   border-radius: 10px;
}

.survey button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
   border-radius: 10px;
}

.next{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
   background-color: #c65097;
   border-radius: 10px;
}
